/****************************************************/
/***************** GENERAL **************************/

body {
    box-sizing: team;
    width: 100%;
}

/****************************************************/
/***************** NAV **************************/
header nav {
    min-width: 600px;
}