/****************************************************/
/***************** GENERAL **************************/

body {
    box-sizing: team;
    width: 100%;
}
main {
    margin-top: 20px;
}
/****************************************************/
/***************** NAV **************************/
header nav {
    min-width: 600px;
}

/****************************************************/
/***************** EN-TÊTE **************************/

.title {
    font-family: 'lobster' ;
    color: rgb(0, 81, 255);
}

.main-img {
    max-width: 500px;
    border-radius: 5px;
}